@import url('https://fonts.googleapis.com/css?family=Oswald');

/** {
  border: 1px solid;
}
*/

/* "Home" */

.splash-header {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -10px;
  opacity: .5;
}

.infobox-1, .infobox-2 {
  width: 580px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  margin: 1.66%;
  margin-top: -320px;
  border: 2px solid #000000;
  color: #000000;
  z-index: 0;
  opacity: .8;
}

.infobox-1, .infobox-2 p {
  font-size: 22px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.banner-img {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  padding: 100px;
}

.couple {
  margin-top: 150px;
  width: 50%;
  height: 50%;
}

.testimonial {
  float: right;
  width: 550px;
  height: 200px;
  margin-right:50px;
  margin-top: 200px;
}
/* Layout */

.container {
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
  height: 420px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
/*  margin-left: 15%;*/
}

button {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  letter-spacing: 8px;
  border: 1px solid #ffffff;
  z-index: 1; 
  margin: 0 auto;
  display: block;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}

/* Navigation */

.pitch {
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 15px;
letter-spacing: 2px;
}

.promotion {
  margin-top: 2%;
  position: relative;
}

.menu, .pitch{
background: #000000;
position: relative;
z-index: 100;
height: 70px;
top: 55%;
width: 100%;
color: #ffffff;
font-family: 'Oswald', sans-serif;
letter-spacing: 0px;
text-transform: uppercase;
border-top: 1px solid #ffffff;
}

.menu ul {
  /*position: absolute;*/
  /*text-align: center;*/
  display: flex;
  align-items: right;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  padding: 20px;
}

/* Links */

.menu a:link {
  color: #ffffff;
  text-decoration: none;
}

.menu a:visited {
  color: #ffffff;
}

.menu a:hover {
  color: grey;
}

.menu a:active {
  color: #ffffff;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: grey;
}

a:active {
  color: grey;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
    border-radius: 10px;
}

/*Date Component*/

.date-idea {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.date-ideas {
  color: #000000;
}

.idea {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
}

.idea-form {
  margin-top: 100px;
  flex: 1;

}

input {
  background-color: white;
  color: #000000;
  border: none;
  outline: none;
  width: 150px;
  padding: 15px;
  margin: 5px;
}


