@import url('https://fonts.googleapis.com/css?family=Oswald');

/** {
  border: 1px solid;
}
*/

/* "Home" */

.splash-intro {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -10px;
  opacity: .5;
}



.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}

.banner-img {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  padding: 100px;
}


button {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  letter-spacing: 8px;
  opacity: 1;
  border: 1px solid #ffffff;
}

/* Layout */

.container {
  font-family: 'Oswald', sans-serif;
/*  display: flex;*/
  margin-top: 50px;
  height: 420px;
  width: 100%;
/*  justify-content: center;
  align-items: flex-start;*/
  background-color: #000000;
  color: #ffffff;
/*  margin-left: 15%;*/
}

/* Navigation */

.pitch {
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 15px;
letter-spacing: 2px;
}

.promotion {
  margin-top: 2%;
  position: relative;
}

.menu, .pitch{
background: #000000;
position: relative;
z-index: 100;
height: 70px;
top: 55%;
width: 100%;
color: #ffffff;
font-family: 'Oswald', sans-serif;
letter-spacing: 0px;
text-transform: uppercase;
border-top: 1px solid #ffffff;
}

.menu ul {
  /*position: absolute;*/
  /*text-align: center;*/
  display: flex;
  align-items: right;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  padding: 20px;
}

/* Links */

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: grey;
}

a:active {
  color: #ffffff;
}

/*Resources component*/
.resources {
  margin-left: 200px;
}

/*Date Component*/

.date-idea {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;

}

.date-ideas {
  color: #000000;
}

.idea {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
}

.idea-form {
  margin-top: 100px;
  flex: 1;

}

input {
  background-color: white;
  color: #000000;
  border: none;
  outline: none;
  width: 150px;
  padding: 15px;
  margin: 5px;
}


