@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Give+You+Glory|Kristi|Oswald|Lobster+Two|Niconne|Pinyon+Script');

/* "Home" */

/** {
  border: 1px solid;
}
*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}

.banner-img {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  padding: 100px;
}

.second-banner-img {
  width: 60%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

button, .home-button {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  letter-spacing: 8px;
  opacity: 1;
  border: 1px solid #ffffff;
  display: block;
  flex: 1;
}

button {
  width: 400px;
  height: 100px;
}

.idea-form {
  margin-top: 100px;
  flex: 1;

}

* {
  outline: none;
}

/* Layout */

.container {
  font-family: 'Oswald', sans-serif;
  display: flex;
  padding: 0;
  margin-top: 50px;
  height: 300px;
  justify-content: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
}

.header {
  padding: 20px;
}

.right-pane {
right: 0;
}

.right-pane, .left-pane {
background-color: #ffffff;
max-width: 100px;
height: 100%;
width: 150px;
position: fixed;
z-index: 100;
top: 0;
bottom: 0;
}

/* Navigation */

.menu {
background: #000000;
position: relative;
z-index: 100;
height: 70px;
top: 55%;
color: #ffffff;
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
}

.menu ul {
  /*position: absolute;*/
  /*text-align: center;*/
  display: flex;
  align-items: right;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  padding: 20px;
}

.container li > a:nth-child {
  color: #000000;
}

/* Links */

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #1073AF;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

/*Date Component*/

.date-idea {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;

}

.date-ideas {
  color: #000000;
}

.idea {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
}

input {
  background-color: white;
  color: #000000;
  border: none;
  outline: none;
  width: 150px;
  padding: 15px;
  margin: 5px;
}


