@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Give+You+Glory|Kristi|Lobster+Two|Niconne|Pinyon+Script');

/* "Home" */

/** {
  border: 1px solid;
}*/


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}

.banner-img {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  padding: 100px;
}

.second-banner-img {
  width: 80%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 50px;
  font-family: 'Alex Brush', cursive;
  background-color: #ffffff;
  width: 300px;
  height: 100px;
/*  text-transform: uppercase;*/
/*  letter-spacing: 10px;*/
  margin-top: 20%;
  opacity: 1;
  border: 1px solid #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Layout */

.right-pane {
right: 0;
}

.right-pane, .left-pane {
background-color: #ffffff;
max-width: 100px;
height: 100%;
width: 150px;
position: fixed;
z-index: 100;
top: 0;
bottom: 0;
}

.menu {
background: #000000;
position: relative;
z-index: 100;
width: 100%;
height: 70px;
top: 55%;
color: #ffffff;
display: flex;
}

.menu ul {
  position: absolute;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 20px;
  margin-left: 200px;
}
/*Date Component*/

.date-idea {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}
